h1 { font-size: 2.2rem; font-weight: bold; }
h2 { font-size: 1.8rem; font-weight: bold; }
h3 { font-size: 1.6rem; font-weight: 600; }
h4,h5,h6 { color: #222222; font-size: 1.4rem; font-weight: 600; }
h1,h2,h3,h4,h5,h6 { margin-top: 2rem; }

.front_updates { font-style: italic; }
.front_updates h4 { font-style: italic; font-size: 1.2rem; }
.front_updates ul { font-size: 1.0rem; }
.front_updates a i { font-style: normal; color: #332222; }
.front_updates .front_date { color: #777799; }

.panel {
  padding-top: 0.5rem;
}

body,h1,h2,h3,h4,h5,h6 { font-family: "Source Sans Pro"; }

a { color: #333399; }
p a { border-bottom: 1px dotted #999999; }
p { margin-top: 0.7rem; margin-bottom: 0.2rem; line-height: 1.4rem }

article a:hover {
  color: #333333;
  border-bottom: 1px dotted #999999;
  display: inline;
}

body {
  background-image: url(/graphics/cloud-bg.png);
  background-position-y: 32px;
  background-repeat: repeat-x;
  padding-bottom: 1.5em;
}

code {
  font-weight: normal;
  margin-bottom: 1em;
  font-size: 100%;
  line-height: 1.2;
}

pre code {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.side-nav li a {
  color: #333399;
}
.side-nav li {
  font-size: 90%;
  line-height: 1.2;
}
.side-nav .lastmod {
  font-size: 80%;
  font-style: italic;
}

.date {
  border: 1px solid #999;
  line-height: 1;
  width: 3em;
  position: relative;
  float: left;
  margin-right: 15px;
  text-align: center;
}
.date .month {
  text-transform: uppercase;
  font-size: 0.9em;
  padding-top: 0.3em;
}
.date .day {
  font-size: 1.3em;
}
.date .year {
  background-color: #2358B8;
  color: #FFF;
  font-size: 0.9em;
  padding: 0.3em 0;
  margin-top: 0.3em;
}
.date .hour {
  display: none;
}
.date .min {
  display: none;
}
div.trace-viewer {
  position: relative;
}
div.trace-viewer div.side-panel {
  z-index: 80;
  margin: 0;
  padding: 0;
  border-right: 1px solid black;
  position: absolute;
  height: 500px;
  background: rgba(220, 220, 220, 0.9);
  display: flex;
}
div.trace-viewer div.side-panel > div {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
}
div.trace-viewer ul.metrics {
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
}
div.trace-viewer label {
  margin-bottom: 0;
}
div.trace-viewer input {
  margin-bottom: 0;
}
div.trace-viewer input {
  margin: 0 0.4em 0.2em 0;
}
div.trace-viewer hr {
  border-color: black;
}
div.trace-viewer button {
  padding: 0.2em;
}
