.DS_Store
*~

/log

/src/log
/src/_build
/src/mir-www
/src/mir-main
/src/main.native
/src/www.xl
/src/www.xe
/src/www_libvirt.xml

/src/Makefile
/src/main.ml

/src/static_files.ml
/src/static_files.mli
/src/static_tmpl.ml
/src/static_tmpl.mli
/src/static[0-9].ml
/src/static[0-9].mli
/src/fat*.img
/src/make-fat1-image.sh
/src/make-fat2-image.sh

.*.swp
