.DS_Store
*~
.*.swp

/log
/.mirage.container

/src/.mirage.config
/src/Makefile
src/_build/
src/key_gen.ml
src/main.ml
src/main.native
src/mirage-unikernel*.opam
src/myocamlbuild.ml
src/static1.ml
src/static1.mli
src/static2.ml
src/static2.mli
src/www

stats/_build/
stats/main.byte
stats/main.js
stats/main.min.js

files/js/stats/
