.*.swp
*.native
*~
*.bak
*.img

/log
/_build
/src/Makefile
/src/main.ml
/src/mir-main
/src/static_files.ml
/src/static_files.mli
/src/static_tmpl.ml
/src/static_tmpl.mli
/src/log
/src/make-fat1-image.sh
/src/make-fat2-image.sh
