html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td { 
  margin: 0; 
  padding: 0; 
}

body {
  background-image: url('../graphics/cloud-bg.png');
  background-repeat: repeat-x;
  font: 65.0%/1.6 "helvetica neue", "helvetica", "arial", sans-serif;
}

a { outline: none; }

#wrapper {
  border-top: 1px solid #ccc;
  margin: 0 auto;
  width: 100%;
}

#header {
  height: 67px;
  margin: 0 auto;
  position: relative;
  width: 960px;
  border-bottom: 1px solid #999999;
}

#header_logo {
  float: left;
  width: 465px;
}

a#logo img {
  background: transparent;
  border: 0;
  margin: 0px 0px 0px 0px;
}

#info_bar {
  height: 67px;
  width: 450px;
  margin: 0 auto;
  float: right;
}

#linkbar {
  position: absolute;
  bottom: 0;
  right: 0;
  vertical-align: bottom;
}

#linkbar ul {
  list-style-type: none;
}

#linkbar li {
  display: block;
  float: left;
}

#linkbar li a {
  color: #222;
  display: block;
  float: left;
  font-size: 1.4em;
  height: 23px;
  padding: 8px 20px 0px 20px;
  text-decoration: none;
}

#linkbar li a:hover {
  border-bottom: 5px solid #222;
  color: #222;
  height: 23px;
  padding: 8px 20px 0px 20px;
}

#linkbar li a.current_page {
  border-bottom: 5px solid #222;
  color: #222;
  height: 23px;
  padding: 8px 20px 0px 20px;
}

/* Content Styling */

#content {
  margin: 10px 10px 10px 20px;
  width: 960px;
  overflow: hidden;
}

#content h2 {
  border-bottom: 1px dashed #bbb;
  color: #222;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.0em;
  font-weight: normal;
  margin: 5px 0px 5px 0px;
  padding: 1px 0px 0px 5px;
}

#content p {
  color: #222;
  font-size: 1.3em;
  padding: 3px 10px 3px 2px;
}

#content ul {
  list-style-type: none;
}

#content blockquote {
  background-color: #f2f2f2;
  border-left: 2px solid #aaa;
  font-size: 1.2em;
  padding: 11px 20px 10px 20px;
  margin: 10px 0px 8px 20px;
}

#content blockquote p {
  font-size: 1.0em;
}

#content table {
  border: 1px solid #aaa;
  color: #222;
  margin: 10px 0px 10px 0px;
  min-width: 450px;
  text-align: left;
  width: 100%;
}

#content th {
  font-size: 1.3em;
  font-weight: bold;
  padding: 2px 0px 2px 5px;
}

#content tr {
}

#content tr.even_row {
  background-color: #e5e5e5;
}

#content td {
  font-size: 1.2em;
  padding: 2px 0px 2px 5px;
}

.left_column, .right_column {
  float: left;
  margin: 0px 0px 0px 0px;
  width: 450px;
}

.left_column {
  margin: 0px 0px 0px 0px;
}

.right_column {
  float: right;
  width: 450px;
}

.left_column_blog {
        float: left;
        width: 690px;
}

.right_column_blog {
  float: right;
  width: 250px;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

img.float_left { /* Only for images */
  margin: 7px 10px -2px 0px;
}

img.float_right { /* Only for images */
  margin: 7px 0px -2px 10px;
}

img.full_width { /* For images that take up entire width of column */
  border-bottom: 2px solid #888;
  border-top: 1px solid #888;
  margin: 10px 0px 10px 0px;
}

.clear_div {
  clear: both;
}

.category { /* Mainly used on contact page but can be used throughout */
  font-weight: bold;
}

#footer {
  border-top: 1px solid #888;
  height: 30px;
  margin: 0 auto;
  padding: 5px 0px 0px 0px;
  position: relative;
  top: 10px;
  width: 960px;
}

#footer h4 {
  color: #222;
  float: left;
  font-size: 1.2em;
  font-weight: normal;
}

#footer ul {
  float: right;
  list-style-type: none;
}

#footer li {
  float: left;
}

#footer a {
  color: #222;
  display: block;
  float: left;
  font-size: 1.2em;
  margin: 0px 0px 0px 20px;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

/* Column Styling */

.column {
  border: 1px solid #aaa;
  display: block;
  float: left;
  height: 300px;
  margin: 5px 10px 0px 0px;
  overflow: hidden;
  padding: 0px;
  width: 230px;
}

#content .column h2 {
  background-color: #f2f2f2;
  border-bottom: 1px solid #aaa;
  font-size: 2.2em;
  margin: 0px 0px 0px 0px;
  padding: 1px 0px 1px 0px;
  text-align: center;
}

#content .column p {
  padding: 10px 0px 0px 15px;
}

#content .column ul {
  padding: 5px 0px 0px 0px;
}

#content .column li {
  font-size: 1.2em;
  list-style-type: decimal;
  list-style-position: inside;
  padding: 4px 10px 4px 15px;
}

#content .column img.full_width { /* Slightly changes the class .full_width to conform to columns */
  border: 1px solid #aaa;
  margin: 10px 15px -5px 10px;
}

.column #testimonials li {
  list-style-type: none;
  padding: 5px 10px 15px 15px;
}

.first_column {
  margin: 5px 11px 0px 0px;
}

.last_column {
  margin: 5px 0px 0px 1px;
}

.impl_red    { background-color: #FE9696; }
.impl_orange { background-color: #FDC086; }
.impl_green  { background-color: #B0ECB0; }

.blog_entry_title { 
  font-size: 2em; 
  font-weight: bold;
}

.blog_entry_heading {
  border-bottom: 1px solid #eee;
  margin-left: 4px;
  margin-bottom: 4px;
}

.blog_entry_info {
  font-size: 1.1em;
}

.blog_entry_body {
  margin-left: 6px;
  font-size: 1em;
}

