h1 { font-size: 2.2rem; font-weight: bold; }
h2 { font-size: 1.8rem; font-weight: bold; }
h3 { font-size: 1.6rem; font-weight: 600; }
h4,h5,h6 { color: #222222; font-size: 1.4rem; font-weight: 600; }

.front_updates { font-style: italic; }
.front_updates h4 { font-style: italic; font-size: 1.2rem; }
.front_updates ul { font-size: 1.0rem; }
.front_updates a i { font-style: normal; color: #332222; }
.front_updates .front_date { color: #777799; }

.panel {
  padding-top: 0.5rem;
}

body,h1,h2,h3,h4,h5,h6 { font-family: "Source Sans Pro"; }

a { color: #333399; }
p a { border-bottom: 1px dotted #999999; }
p { margin-top: 0.7rem; margin-bottom: 0.2rem; line-height: 1.4rem }

article a:hover {
  color: #333333;
  border-bottom: 1px dotted #999999;
  display: inline;
}

body {
  background-image: url(/graphics/cloud-bg.png);
  background-repeat: repeat-x;
}

code {
  font-weight: normal;
  margin-bottom: 1em;
  font-size: 90%;
  word-break: break-all;
  word-wrap: break-word;
}

.side-nav li a {
  color: #333399;
}
.side-nav li {
  font-size: 90%;
  line-height: 1.2;
}
.side-nav .lastmod {
  font-size: 80%;
  font-style: italic;
}

.date {
  border: 1px solid #999;
  line-height: 1;
  width: 3em;
  position: relative;
  float: left;
  margin-right: 15px;
  text-align: center;
}
.date .month {
  text-transform: uppercase;
  font-size: 0.9em;
  padding-top: 0.3em;
}
.date .day {
  font-size: 1.3em;
}
.date .year {
  background-color: #2358B8;
  color: #FFF;
  font-size: 0.9em;
  padding: 0.3em 0;
  margin-top: 0.3em;
}
.date .hour {
  display: none;
}
.date .min {
  display: none;
}
